# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore build directories
/bin/
/build/

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*

# Ignore sensitive information
.env
